@{
    ViewBag.Title = "SayfaDetay";
    var birustsayfaBaslik = ViewBag.UstSayfa;
    var sayfaBaslik = ViewBag.Sayfa;
    var icerik = ViewBag.Icerik;
}

<div id="blog_post" class="page">
    <div class="container">
        <div class="row">
            <div class="posts col-md-12">
                <h1 class="block_title">
                </h1>
                <div class="post">

                    <div class="details">

                        <div class="summary">
                            @*<iframe width="660" height="315" src="" frameborder="0" allowfullscreen></iframe>*@
                            <img style="width: 100%;vertical-align: middle;border-style: none;max-width: 100%;" src="@if (icerik != null)
                        {
                            @icerik.KucukResimYolu
                        }" />
                        </div>
                        <p></p><p>
                            @if (icerik != null)
                            {
                                @Html.Raw(icerik.Icerik)
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>